<!--<p style="color: green"><%#= notice %></p>

<%#= render @message %>-->
<!--
<div>
  <%#= link_to "Edit this message", edit_message_path(@message) %> |-->
  <%#= link_to "Back to messages", messages_path %>
<!---->
  <%#= button_to "Destroy this message", @message, method: :delete %>
<!--</div>

<%#= link_to user_chat_path(user), remote: true do %>-->
<!--
  <hr>-->

  <h3>Chat with <%= @recipient.email %></h3>

  <div id="private-chat-window" style="height: 300px; overflow-y: scroll;" class="border rounded p-3 mb-3">
    <% @messages.each do |message| %>
      <p><strong><%= message.sender == current_user ? 'You' : @recipient.email.split('@').first.titleize %>:</strong> <%= message.content %></p>
    <% end %>
  </div>

  <%= form_with model: Message.new, url: group_messages_path(@group), data: { turbo_stream: true }, html: { id: "group-message-form" } do |form| %>
    <%= form.hidden_field :sender_id, value: current_user.id %>
    <%= form.hidden_field :original_language_id, value: current_user.preferred_language_id %>
    <%= form.hidden_field :group_id, value: @group.id %>
    <%= form.text_field :body, class: "form-control", placeholder: "Type your message..." %>

    <div class="input-group">
      <%= form.text_field :body, class: "form-control", placeholder: "Type your message...", autofocus: true %>
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  <% end %>
